* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

lottie-player {
	margin: 0 auto;
	vertical-align: top;
}
body {
	background:linear-gradient(rgba(0, 0, 0, 0.155), rgba(255, 255, 255, 0.534)), url('../img/fondsss.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family:'Open Sans',Sans-serif, Arial, Helvetica;
	background-size: cover;
}

.contenedor {
	width: 95%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	align-items:center;
}

.tarjeta {
	margin: 5px 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.527);
	backdrop-filter: blur(2px);
	border: solid 1px rgb(255, 255, 255, 05);
	box-shadow: 1px 1px 5px #ffffffc4;
	border-radius: 15px;
	overflow: hidden;
	z-index: 1000;	

}


.banner {
	width: 100%;
	animation: banner 8s infinite linear ;
	background-size: 100% 100%;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;

}


.portada  {
	width: 100%;
	vertical-align: top;
	margin: 0%;
	
}

.sidebar{
	vertical-align: top;
	margin: 0%;
	position: fixed;
	z-index: 1000; 
	padding: 10px 5px;
	left: 12px;
	
		
}


.sidebar .menu1 {
	color: #1b76ff;
	font-size: 20px;
	padding: 3px 10px;
	border-radius: 10px;
	background-color: #ffffffb5;
	box-shadow: #000 1px 1px;
	animation: pulse 1.5s ;	
}

.sidebar .menu1:hover{
	color: #fffffff1;
	background: rgba(0, 0, 0, 0.5);
}

.side {
	width: 40%;
	background-color: rgba(22, 1, 1, 0.541);
	backdrop-filter: blur(10px);
	border: solid 1px rgb(255, 255, 255, 0.5);
	border-radius: 10px;
	display: none;
	padding: 10px 0px;
	position: fixed;
	margin: 10px 0px;
	box-shadow: 1px 1px 5px #ffffffc4;
}



.side a{
	color: #f7f7f7f1;
	font-size: 12px;
	text-decoration: none;
	display: block;
	background: none;
	padding: 3px 10px;
	margin: 7px 0px;
}

.side a:hover {
	color: #25D366;
	background: #000c1183;
}



.share {
	position: absolute;
	text-decoration: none;
	color: #fff;
	top: 10px;
	right: 10px;	
	z-index: 1000; 
}


.descarga {
	position: absolute;
	text-decoration: none;
	color: #fff;
	top: 50px;
	right: 10px;	
}

.pago {
	position: absolute;
	text-decoration: none;
	color: rgb(115, 255, 0);
	top: 95px;
	right: 10px;	
}
	

.swiper-Active {
	width: 100%;
	position: relative;

  }
.swiper-Active img {
	height: 200px;
	object-fit: cover;
	width: 100%;
}


@media screen  and  (max-width: 450px){
	.swiper-Active img {
		height: 170px;
	}
}

@media screen  and  (min-width: 1000px){
	.swiper-Active img{
		height: 240px;
	}
  }

.swiper-Active .swiper-button-prev,.swiper-Active .swiper-button-next {
	color: #00020374;
	--swiper-navigation-size: 15px;
	background-color: #ffffff7a;
	height: 30px;
	width: 30px;
	font-weight: bold;
	opacity: 0;
}

.swiper-Active .swiper-button-prev{
	border-radius: 0px 65px 65px 0px;
	left: -5px;
}

.swiper-Active .swiper-button-next{
	border-radius: 65px 0px 0px 65px;
	right: -5px;
}


.swiper-Active .swiper-button-prev:hover,
.swiper-Active .swiper-button-next:hover{
	color: #ffffff;
	background-color: #0d8becae;
}


.swiper-Active:hover .swiper-button-prev,
.swiper-Active:hover .swiper-button-next{
	opacity: 1;
}


.btsn{
	text-decoration: none;
	position: absolute;
	padding: 7px 0px;
	bottom: 0;
	align-items: center;
	text-align: left;	
}

.btsn img{
	width: 10%;
	height: auto;
	background: #ffffffb8;
	border-radius: 5px;
	object-fit: cover;
	margin: 0px 0px 0px 5px;
	padding: 5px 5px;
	bottom: 0;
	box-shadow: 1px 2px 5px #00020cdd;
	
}

.btsn img:hover{
background-color: #ff000000;
box-shadow: 1px 2px 5px #002affdd;

}


@media screen  and  (min-width: 408px){
	.btsn img{
		width: 8%;
	}
  }


.btsn .linkn {
	text-decoration: none;
	color: #030303;
	font-weight: bold;
	font-size: 12px;
	bottom: 0;
	border-radius: 5px;
	margin: 1px 0px ;
	padding: 0px 5px;
	box-shadow: 1px 1px 4px #2e51ffdd;
	

}
.btsn .linkn:hover{
	color: #ffffff;
	background-color: #0f4ce8af;
	margin: 0px 5px;
	padding: 5px 5px;
}






/* ----- ----- negocios ----- ----- */

.titulo{
	text-align: center;
}

.titulo img {
	width: 15%;
	margin-top: 5px;
}


/* ----- ----- negocios ----- ----- */

.negocios{	
	display: grid;
	text-align: center;
	align-items:center;
	padding: 0px 10px;
	grid-gap: 8px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "producto1 producto2 producto3"
	                     "producto4 producto5 producto6"
	                     "tituloab2 tituloab2 tituloab2"
						 "producto7 producto8 producto9"
						"producto10 producto11 producto12";

	
}

.negocios p {
	text-align: center;
	font-size: 10px;
	font-weight: bold;


}

.negocios img {
	width: 70%;

}

.negocios .ecuador {
	width: 60%;


}



.negocios .pailas {
	width: 60%;
	margin: 15px;

}

.negocios >div {
	background: #ffffff70;
	height: 90%;
}

.negocios >div:hover{
	background: #ffffff;
}


.negocios >div{
	border: solid 1px hsla(214, 97%, 45%, 0.769);
	border-radius: 5%;
}
.negocios .btc {
	background: linear-gradient(102deg, #0099ff 40%, #0099ffd2 60%);
	color: #fffffff1;
	font-size: 10px;
	text-align: center;
	text-decoration: none;
	padding: 5px 20px;
	border-radius: 10px;
	display: inline-block;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5)	
	
}

.negocios .btc:hover{
	background: linear-gradient(102deg, #fbfcfd 40%, #ffffffd2 60%);
	color: #186db3f1;
	border: solid 1px hsla(214, 97%, 45%, 0.769);
	box-shadow: 1px 1px 5px #114694c4;
}

.negocios .n1 {
	grid-area: producto1;
}

.negocios .n2 {
	grid-area: producto2;
}

@media screen  and  (max-width: 768px){
	
	.negocios {
		
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "producto1 producto2"
							 "producto3 producto4"
							"producto5 producto6"
							"producto7 producto8"
							"producto9 producto10";}								
	
	}

.negocios .noventa{
	width: 90%;
	margin: 5px 5px;
}

/* ----- ----- Redes Sociales ----- ----- */


.redes-sociales {
	text-align: center;
	padding: 20px 0;
}

.redes-sociales a {
	display: inline-block;
	font-style:10px;
	width: 45px;
	height: 45px;
	padding: 8px 0;
	border-radius: 50%;
	font-size: 20px;
	color: rgb(255, 255, 255);
	margin: 1px 10px;
	box-shadow: 1px 1px 5px #020000c4;
	border: solid 1px #ffffff96;
}

.redes-sociales a:hover {
	background: #000203;
}

.redes-sociales .whatsapp { background: radial-gradient(circle at 30% 107%, #2ed60d 0%, #067711 5%, #25d366 45%,#55da67 60%,#1a892c 90%); }
.redes-sociales .facebook { background: radial-gradient(circle at 30% 107%, #d1d3f6 0%, #95dae8 5%, #3b5998 45%,#3e21c1 60%,#1561e4 90%); }
.redes-sociales .phone { background: radial-gradient(circle at 30% 107%, #d1d3f6 0%, #95dae8 5%, #1152dd 45%,#0b75f7 60%,#0550d0 90%); }
.redes-sociales .instagram { background: radial-gradient(circle at 30% 107%, #c4302b 5%, #fd5949 45%,#c25f4c 60%,#c56666d4 90%); }



footer {

	text-align: center;
	padding: 5px 0;
	z-index: 1000;
	position: relative;
	color: rgba(0, 0, 0, 0.726);
	font-size: 14px;
}

footer a {
	display: inline-block;
	text-decoration: none;
    color: #000;


}

footer a:hover {
	color: #0998f7;
}

footer div img {
	width: 4%;
}

footer .rango {
	font-size: 10px;
}

@media screen  and  (min-width: 800px){
	body { 
		background:linear-gradient(rgba(0, 0, 0, 0.155), rgb(255, 255, 255)), url('../img/fondomundo.png') no-repeat fixed
		
	
	}
}

@media screen  and  (min-width: 800px){
	.tarjeta { 
		background-color: #ffffffc5;
	}
}

@media screen  and  (min-width: 1200px){
  .descarga, .pago { 
	display: none;
	}
}

@media screen  and  (min-width: 1200px){
	.descarga, .pago { 
	  display: none;
	  }
  }

@media screen  and  (min-width: 1400px){
	.sidebar { 
	  left: 27%;
	  }
  }

  @media screen  and  (min-width: 1400px){
	.back { 
	  right: 28%;
	  }
  }

@media screen  and  (max-width: 290px){
	.redes-sociales a { 
		font-size: 40px;	
		color: #000;
	}
	.redes-sociales .whatsapp { background: none }
	.redes-sociales .facebook { background: none }
	.redes-sociales .phone { background: none }
	.redes-sociales .instagram { background: none }
}

/* iconos banner */
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v81/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }
  .material-icons {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background-color: #ffffffb5;
	color: #0099ff;
	padding: 5px 4px;
	border-radius: 10px;
	box-shadow: #000 1px 1px;
  }
  
  .material-icons:hover {
	  background-color: #0066ff;
	  background: rgba(0, 0, 0, 0.562);
  }

  .material-back {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 22px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;

  }
  

  .materialpago {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;

  }


  .materialpago:hover{
	  background: #1b76ff;
	  color: #fff;
  }

  .material-symbols-outlined {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;

  }

  .material-symbols-outlined:hover {
	background-color: rgb(27, 118, 255);
}

/* navegacion*/
.navinx {
	position: fixed;
	text-align: center;
	z-index: 1000

}

.navi{
	position: fixed;
	text-align: center;
	z-index: 1000;
	width: 100%;
	height: 5%;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.744);
	backdrop-filter: blur(2px);
	border: solid 1px rgb(255, 255, 255, 05);
	box-shadow: 1px 1px 5px #ffffffee;
	border-radius: 15px;
	bottom: 1px;
	padding: 9px 0px;
	color: #0052c5;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
}

.navi:hover, .navi:hover{
	color: #ffffff;
	background-color: #0099ff;
}

@media screen  and  (min-width: 1400px){
	.navi { 
		background-color: rgba(247, 246, 246, 0.826);
	  }
  }




