* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url('../img/bg.png');
	background-size: cover;
	background-attachment: fixed;
	font-family:'Open Sans',Sans-serif, Arial, Helvetica;
}

.contenedor {
	width: 95%;
	max-width: 600px;
	margin: auto;
	height: 100%;
	align-items:center;
}

.tarjeta {
	margin:10px 0;
	width: 100%;
	background: rgb(255, 255, 255);
	border-radius: 15px;
	overflow: hidden;
	z-index: 1000;	
}


.banner {
	width: 100%;
	animation: banner 7s infinite linear ;
	background-size: 100% 100%;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
}

.portada  {
	width: 100%;
	vertical-align: top;
	margin: 0%; 
}


@keyframes banner {
	0%, 23% {
		background-image: url(../img/b1.png);
		
	}
	25%, 45% {
		background-image: url(../img/banner2.jpg);
	}
	50%, 70% {
		background-image: url(../img/banner3.jpg);
	}
	75%, 100% {
		background-image: url(../img/banner4.jpg);
	}
}
.informacion {
	text-align: center;
}


.informacion .titulo  {
	text-align: center;
	font-size: 18px;
	padding: 5px;
}

.informacion .subtitulo {
	color: #55acee;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 16px;
	text-align: center;
}

.boton {
	background: linear-gradient(102deg, #0998f7 40%, #1619d4 60%);
	color: #fffffff1;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	padding: 10px 20%;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;	
}
.boton:hover {
	background: linear-gradient(102deg, #ffffff 40%, #e5e5fd 60%);
	color: #0998f7;
	
}

@keyframes pulse {
	0% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(9, 255, 0, 0.315);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(12, 126, 255, 0.712);
	}
	100% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(12, 15, 201, 0.548);
	}
	
}

.informacion .imagen1 {
	text-align: center;
	width: 100%;
	vertical-align: top;
	margin: 0%;
	
}

/* ----- ----- Redes Sociales ----- ----- */


.redes-sociales {
	text-align: center;
	padding: 20px 0;
}

.redes-sociales a {
	display: inline-block;
	font-style:10px;
	width: 45px;
	height: 45px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 16px;
	color: #fff;
	margin: 5px 10px;
}

.redes-sociales a:hover {
	background: #000203;
}

.redes-sociales .whatsapp { background: #25D366; }
.redes-sociales .facebook { background: #3b5998; }
.redes-sociales .phone { background: #55acee; }
.redes-sociales .instagram { background: #C13584; }

footer {

	text-align: center;
	padding: 5px 0;
	z-index: 1000;
	position: relative;
	color: rgba(0, 0, 0, 0.726);
	font-size: 14px;
}


@media screen  and  (min-width: 800px){
	body { 
		background: url('../img/bg2.png');
	}
}

@media screen  and  (max-width: 290px){
	.redes-sociales a { 
		font-size: 40px;	
		color: #000;
	}
	.redes-sociales .whatsapp { background: none }
	.redes-sociales .facebook { background: none }
	.redes-sociales .phone { background: none }
	.redes-sociales .instagram { background: none }
}
	
