* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url('../img/bg.png');
	background-size: cover;
	background-attachment: fixed;
	font-family:'Open Sans',Sans-serif, Arial, Helvetica;
}

lottie-player {
	margin: 0 auto;
	vertical-align: top;
}
.contenedor {
	width: 95%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	align-items:center;
}

.tarjeta {
	margin: 5px 0;
	width: 100%;
	background: rgb(255, 255, 255);
	border-radius: 15px;
	overflow: hidden;
	z-index: 1000;	
}


.banner {
	width: 100%;
	animation: banner 8s infinite linear ;
	background-size: 100% 100%;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.portada  {
	width: 100%;
	vertical-align: top;
	margin: 0%; 
}


@keyframes banner {
	0%, 23% {
		background-image: url(../img/bclick.png);
		
	}
	25%, 45% {
		background-image: url(../img/banner2.jpg);
	}
	50%, 70% {
		background-image: url(../img/banner3.jpg);
	}
	75%, 100% {
		background-image: url(../img/banner4.jpg);
	}
}

/* ----- ----- inicio informacion ----- ----- */
.informacion {
	text-align: center;

}


.informacion .titulo  {
	text-align: center;
	font-size: 18px;
	padding: 5px;
}

.informacion .subtitulo {
	color: #55acee;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 16px;
	text-align: center;
}

.back {
	position: fixed;
	z-index: 1200;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
	right: 16px;
	bottom: 10px;
	display: none;
	animation: pulse 1.7s ;	
}
.back:hover {
	background: linear-gradient(102deg, #0099ffc7 40%, #0099ffc7 60%);
}
.botoninicio {
	position: absolute;
	background: linear-gradient(102deg, #0099ffc7 40%, #0099ffc7 60%);
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	padding: 6px 3%;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
	left: 1px;
	top: 1px;
	display: none;
	margin: 10px 8px;
	animation: pulse 1.7s ;	
}


.botoninicio:hover{
	background:  #0998f7;
}
.share {
	position: absolute;
	text-decoration: none;
	color: #fff;
	top: 10px;
	right: 10px;	
}

.descarga {
	position: absolute;
	text-decoration: none;
	color: #fff;
	top: 50px;
	right: 10px;	
}


.boton {
	background: linear-gradient(102deg, #0998f7 40%, #1619d4 60%);
	color: #fffffff1;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	padding: 10px 20%;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;	
}
.boton:hover {
	background: linear-gradient(102deg, #ffffff 40%, #e5e5fd 60%);
	color: #0998f7;
	
}

@keyframes pulse {
	0% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(9, 255, 0, 0.315);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(12, 126, 255, 0.712);
	}
	100% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(12, 15, 201, 0.548);
	}
	
}

.informacion .qr img {
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0%;	
}
.informacion .scan {
      color: #C13584;
}

/* ----- ----- portafolios ----- ----- */
.portafolio {
	text-align: center;
	display: none;
}
.portafolio .cata1 img {
	width: 40%;
}
.portafolio .texto1 {
	text-align: center;
	font-size: 18px;
	padding: 0px 15px;
}
.boton2 {
	background: linear-gradient(102deg, #0099ff 40%, #0099ffd2 60%);
	color: #fffffff1;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	padding: 10px 10%;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
	
}

.boton2:hover {
	background: linear-gradient(102deg, #0099ffa8 40%, #0099ff85 60%);
	color: #ffffff;
}


/* ----- ----- Redes Sociales ----- ----- */


.redes-sociales {
	text-align: center;
	padding: 20px 0;
}

.redes-sociales a {
	display: inline-block;
	font-style:10px;
	width: 45px;
	height: 45px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 16px;
	color: rgb(255, 255, 255);
	margin: 1px 10px;
}

.redes-sociales a:hover {
	background: #000203;
}

.redes-sociales .whatsapp { background: #25D366; }
.redes-sociales .facebook { background: #3b5998; }
.redes-sociales .phone { background: #55acee; }
.redes-sociales .instagram { background: #C13584; }


footer {

	text-align: center;
	padding: 5px 0;
	z-index: 1000;
	position: relative;
	color: rgba(0, 0, 0, 0.726);
	font-size: 14px;
}


@media screen  and  (min-width: 800px){
	body { 
		background: url('../img/bg2.png');
	}
}

@media screen  and  (max-width: 290px){
	.redes-sociales a { 
		font-size: 40px;	
		color: #000;
	}
	.redes-sociales .whatsapp { background: none }
	.redes-sociales .facebook { background: none }
	.redes-sociales .phone { background: none }
	.redes-sociales .instagram { background: none }
}

/* iconos banner */
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v81/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }
  .material-icons {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;
  }
  
  .material-icons:hover {
	  background-color: rgb(27, 118, 255);
  }

  .material-back {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 22px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;

  }

  /* ----- ----- costos ----- ----- */
.costos {
	text-align: center;
	padding: 0px 10px;
	display: none;
	
}

.costos img {
	width: 25%;
	vertical-align: top;
}

.costos p {
	font-size: 16px;
	padding: 2px 2px;
}

.costos a {
	font-size: 12px;
}

.costos .oro {
	border-radius: 10px;
	overflow: hidden;
	padding: 10px 5px;
	background-image: url(../img/bg2.png);
	

	}
	
.costos .platino {
		border-radius: 10px;
		overflow: hidden;
		padding: 10px 5px;
		background-image: url(../img/bg2.png);
		
	
		}
.costos .diamante {
			border-radius: 10px;
			overflow: hidden;
			padding: 10px 5px;
		    background-image: url(../img/bg2.png);
		
			}

			/* ----- ----- inicio informacion ----- ----- */
.comofunciona {
	text-align: center;
	padding: 0px 10px;
	display: none;
}

.comofunciona img {
	width: 35%;
	vertical-align: top;
}

.comofunciona p {
	font-size: 16px;
	padding: 2px 2px;
}

.planes {
 text-align: center;
 padding: 10px 5px;
 display: none;
}

.planes p {
	font-size: 16px;
	padding: 2px 2px;
}

.planes a {
	font-size: 16px;
	
}