* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url('../img/bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family:'Open Sans',Sans-serif, Arial, Helvetica;
	background-size: cover;
}

lottie-player {
	margin: 0 auto;
	vertical-align: top;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}


.contenedor {
	width: 95%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	align-items:center;
}

.tarjeta {
	margin: 5px 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.295);
	backdrop-filter: blur(2px);
	border: solid 1px rgb(255, 255, 255, 05);
	box-shadow: 1px 1px 5px #ffffffc4;
	border-radius: 15px;
	overflow: hidden;
	z-index: 1000;	

}


.banner {
	width: 100%;
	animation: banner 8s infinite linear ;
	background-size: 100% 100%;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;

}


.portada  {
	width: 100%;
	vertical-align: top;
	margin: 0%;
	
}

.sidebar{
	vertical-align: top;
	margin: 0%;
	position: fixed;
	z-index: 1000; 
	padding: 10px 5px;
	left: 12px;
	
		
}



.sidebar .menu1 {
	color: #fffffff1;
	font-size: 20px;
	padding: 3px 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	animation: pulse 1.5s ;	
}



.side {
	width: 40%;
	background-color: rgba(22, 1, 1, 0.541);
	backdrop-filter: blur(10px);
	border: solid 1px rgb(255, 255, 255, 0.5);
	border-radius: 10px;
	display: none;
	padding: 10px 0px;
	position: fixed;
	margin: 10px 0px;
	box-shadow: 1px 1px 5px #ffffffc4;
}


.side a{
	color: #f7f7f7f1;
	font-size: 12px;
	text-decoration: none;
	display: block;
	background: none;
	padding: 3px 10px;
	margin: 7px 0px;
}

.side a:hover {
	color: #25D366;
	background: #000c1183;
}


@keyframes banner {
	0%, 23% {
		background-image: url(../img/b1.png);
		
	}
	25%, 45% {
		background-image: url(../img/manejored.png);
	}
	50%, 70% {
		background-image: url(../img/netkorrr.png);
	}
	75%, 100% {
		background-image: url(../img/redes.png);
	}
}

/* ----- ----- inicio informacion ----- ----- */
.informacion {
	text-align: center;


}


.informacion img {
	width: 10%;
}

.informacion .titulo  {
	align-items:center;
	font-size: 18px;
	padding: 5px;
}


.informacion .caja1 {

  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;

}

.informacion .caja1 figure img {
	width: 70%;
	border-radius: 5%;
	background-color: rgba(255, 255, 255, 0.11);
	backdrop-filter: blur(2px);
	border: solid 1px rgb(255, 255, 255, 05);
	box-shadow: 1px 1px 7px #160000c4;
	border-radius: 10px;
	overflow: hidden;
}

.informacion .caja1 figure a {
	text-align: center;
	align-items: center;
}

.informacion .caja1 figure img:hover {
	background: #59a6ff63;
}

.boton2 {
	background: linear-gradient(102deg, #0099ff 40%, #0099ffd2 60%);
	color: #fffffff1;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	display: flex;
	padding: 8px 18%;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
	display: inline-block;
	
}

.boton2:hover {
	background: linear-gradient(102deg, #0099ffa8 40%, #0099ff85 60%);
	color: #ffffff;
}


.botoninicio {
	position: absolute;
	background: linear-gradient(102deg, #0099ffc7 40%, #0099ffc7 60%);
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	padding: 6px 3%;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
	left: 1px;
	bottom: 1px;
	margin: 10px 8px;
	display: none;
	animation: pulse 1.7s ;	
}


.botoninicio:hover{
	background:  #0998f7;
}
.share {
	position: absolute;
	text-decoration: none;
	color: #fff;
	top: 10px;
	right: 10px;	
}


.descarga {
	position: absolute;
	text-decoration: none;
	color: #fff;
	top: 50px;
	right: 10px;	
}

.pago {
	position: absolute;
	text-decoration: none;
	color: rgb(115, 255, 0);
	top: 95px;
	right: 10px;	
}

	

@keyframes pulse {
	0% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(9, 255, 0, 0.315);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(12, 126, 255, 0.712);
	}
	100% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(12, 15, 201, 0.548);
	}
	
}




/* ----- ----- Redes Sociales ----- ----- */


.redes-sociales {
	text-align: center;
	padding: 20px 0;
}

.redes-sociales a {
	display: inline-block;
	font-style:10px;
	width: 45px;
	height: 45px;
	padding: 8px 0;
	border-radius: 50%;
	font-size: 20px;
	color: rgb(255, 255, 255);
	margin: 1px 10px;
	box-shadow: 1px 1px 5px #020000c4;
	border: solid 1px #ffffff96;
}

.redes-sociales a:hover {
	background: #000203;
}

.redes-sociales .whatsapp { background: #25D366; }
.redes-sociales .facebook { background: #3b5998; }
.redes-sociales .phone { background: #0d8bec; }
.redes-sociales .instagram { background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#ff8e8e 90%); }


footer {

	text-align: center;
	padding: 5px 0;
	z-index: 1000;
	position: relative;
	color: rgba(0, 0, 0, 0.726);
	font-size: 14px;
}


@media screen  and  (min-width: 800px){
	body { 
		background: url('../img/fondo2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@media screen  and  (min-width: 1200px){
  .descarga, .pago { 
	display: none;
	}
}

@media screen  and  (min-width: 1200px){
	.descarga, .pago { 
	  display: none;
	  }
  }

@media screen  and  (min-width: 1400px){
	.sidebar { 
	  left: 27%;
	  }
  }

  @media screen  and  (min-width: 1400px){
	.back { 
	  right: 28%;
	  }
  }

@media screen  and  (max-width: 290px){
	.redes-sociales a { 
		font-size: 40px;	
		color: #000;
	}
	.redes-sociales .whatsapp { background: none }
	.redes-sociales .facebook { background: none }
	.redes-sociales .phone { background: none }
	.redes-sociales .instagram { background: none }
}

/* iconos banner */
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v81/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }
  .material-icons {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;
  }
  
  .material-icons:hover {
	  background-color: #1b76ff;
  }

  .material-back {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 22px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;

  }
  

  .materialpago {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;

  }


  .materialpago:hover{
	  background: #1b76ff;
	  color: #fff;
  }

 