* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background:linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.107)), url('../img/FONDONG.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family:'Open Sans',Sans-serif, Arial, Helvetica;
	background-size: cover;

}

lottie-player {
	margin: 0 auto;
	vertical-align: top;
}


#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

@keyframes banner {
	0%, 23% {
		background-image: url(../img/b1.png);
		
	}
	25%, 45% {
		background-image: url(../img/fondocode.jpg);
	}
	50%, 70% {
		background-image: url(../img/fondom.jpg);
	}
	75%, 100% {
		background-image: url(../img/banner4.png);
	}
}

@keyframes bannerApp {
	0%, 23% {
		background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjnY4Yif67uAc4VF0EDamdHoYDRKlW1wYGdvAm1X54BVeHMg8uNsItUbf7U1nMkJNwPyXC0577z8rsSSPQ-i2bYSHkzs8_vq9X1Z766s3YlIXx9bHooQI8sOhw00wYWfHPaZi-mAWcOBzSKjWGWGPRgaawWA7_EEMJk_smybR0J32_5b0rX6dprxSAW/w640-h274/bannerapp.png);
		
	}
	25%, 45% {
		background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh3HjaQyfVfyWYssBt5M8Uj4mD9MLDLlKojzOTPrI3VHtgmZ9kKl11Z8VhfnxwWiW1oeARhFvXl-o7OFe9iFWpmFgY2UA7rPTz-DjlLHhUoMTzf6awexunVGgOFbBEb_JwMmw2V4KQqCpFNaSe7EmwsX59j1AkmM3tINYQeK2KM8lD4dbYL20q_wly1/w640-h274/bannerapp2.png);
	}
	50%, 70% {
		background-image: url(../img/fondom.jpg);
	}
	75%, 100% {
		background-image: url(../img/fondocode.jpg);
	}
}

.contenedor {
	width: 95%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	align-items:center;
}

.tarjeta {
	margin: 5px 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.645);
	backdrop-filter: blur(2px);
	border: solid 1px rgb(255, 255, 255, 05);
	box-shadow: 1px 1px 5px #ffffffee;
	border-radius: 15px;
	overflow: hidden;
	z-index: 1000;	

}


.banner {
	width: 100%;
	animation: banner 8s infinite linear ;
	background-size: 100% 100%;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;

}

.banner2 {
	width: 100%;
	animation: bannerApp 8s infinite linear ;
	background-size: 100% 100%;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;

}


.portada  {
	width: 100%;
	vertical-align: top;
	margin: 0%;	
}

.sidebar{
	vertical-align: top;
	margin: 0%;
	position: fixed;
	z-index: 1000; 
	padding: 10px 5px;
	left: 12px;	
}

.imglins{
	width: 30px;
}

.sidebar .menu1 {
	color: #fffffff1;
	font-size: 20px;
	padding: 3px 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	animation: pulse 1.5s ;	
}



.side {
	width: 40%;
	background-color: rgba(22, 1, 1, 0.541);
	backdrop-filter: blur(10px);
	border: solid 1px rgb(255, 255, 255, 0.5);
	border-radius: 10px;
	display: none;
	padding: 10px 0px;
	position: fixed;
	margin: 10px 0px;
	box-shadow: 1px 1px 5px #ffffffc4;
	
	
}


.side a{
	color: #f7f7f7f1;
	font-size: 12px;
	text-decoration: none;
	display: block;
	background: none;
	padding: 3px 10px;
	margin: 7px 0px;
}

.side a:hover {
	color: #25D366;
	background: #000c1183;
}




/* ----- ----- inicio informacion ----- ----- */
.informacion {
	text-align: center;

}
.informacion img {
	width: 10%;
}

.informacion .titulo  {
	text-align: center;
	font-size: 18px;
	padding: 5px;
}


.informacion .subtitulo {
	color: #0028db;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 16px;
	text-align: center;
}

.informacion p {
	font-size: 12px;
}

.descarga {
	position: absolute;
	text-decoration: none;
	color: #fff;
	top: 10px;
	right: 10px;
	display: none;
}


.back {
	position: fixed;
	z-index: 1200;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
	right: 16px;
	bottom: 10px;
	display: none;
	animation: pulse2 1.7s ;	
}

.back:hover {
	background: #00bfff;
}

@keyframes pulse2 {
	0% {
		transform: scale(2.99);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.315);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.712);
	}
	100% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.548);
	}
	
}

.botoninicio {
	position: absolute;
	background: linear-gradient(102deg, #0099ffc7 40%, #0099ffc7 60%);
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	padding: 6px 3%;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
	left: 1px;
	bottom: 1px;
	margin: 10px 8px;
	display: none;
	animation: pulse 1.7s ;	
}


.botoninicio:hover{
	background:  #0998f7;
}

.boton {
	background: linear-gradient(102deg, #0998f7 40%, #1619d4 60%);
	color: #fffffff1;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	padding: 6px 16%;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #fdfdfdec;
    animation: pulse 1.5s infinite;	
}
.boton:hover {
	background: linear-gradient(102deg, #ffffff 40%, #e5e5fd 60%);
	color: #0998f7;
	
}

.botonp {
	color: #53affff1;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	padding: 2px 8px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #fdfdfdec;
}

.botonp:hover {
	color: #003d72f1;
	background:#fffffff1;
	font-size: 15px;
	font-weight: bold;
	
}

@keyframes pulse {
	0% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(9, 255, 0, 0.315);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(12, 126, 255, 0.712);
	}
	100% {
		transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(12, 15, 201, 0.548);
	}
	
}

.informacion .qr img {
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 3px;	
	border-radius: 8px;
	box-shadow: 1px 1px 5px #020000c4;
	border: solid 1px #ffffff;
}
.informacion .scan {
      color: #080077;
	  font-size: 12px;
}

/* ----- ----- portafolios ----- ----- */
.App{
	text-align: center;
}

.App .logoclick{
	width: 10%;
	padding: 5px 0px;
}

.App .android{
	width: 50%;
	padding: 11px 0px;
}

.App .android:hover{
	width: 45%;
	
}

@media screen  and  (min-width: 600px){
	.App .android{ 
		width: 25%;
	}
}
.App .huawei {
width: 45%;
}

.App .huawei:hover{
	width: 40%;
	
}


@media screen  and  (min-width: 800px){
	.App .huawei { 
		width: 22%;
	}
}


.portafolio {
	text-align: center;
	display: none;
	
}
.portafolio .cata1 img {
	width: 65%;
}
.portafolio .texto1 {
	text-align: center;
	font-size: 18px;
	padding: 0px 15px;
}
.boton2 {
	background: linear-gradient(102deg, #0099ff 40%, #0099ffd2 60%);
	color: #fffffff1;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	padding: 10px 10%;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
	
}

.boton2:hover {
	background: linear-gradient(102deg, #ffffffa8 40%, #ffffff85 60%);
	color: #055dcf;
	box-shadow: 1px 1px 5px #0e56ddee;
	border: solid 1px rgb(63, 114, 207);
	
}

.container-slider {
	width: 100%;
    max-width: 900px;
	overflow: hidden;
	position: relative;			

}

.slider {
	display: flex;
	width: 300%;
	margin-left: -100%;
}


.slider__section{
	width: 50%;
}

.slider__img {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px 10%;
	object-fit: cover;
}
.slider__btn {
	position: absolute;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.7);
	top: 50%;
	transform: translateY(-50%);
	font-size: 15px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}



.slider__btn:hover{
	background: #fff;
}

.slider__btn--left{
	left: 10px;
}

.slider__btn--rigth{
	right: 10px;
}

/* ----- ----- Redes Sociales ----- ----- */


.redes-sociales {
	text-align: center;
	padding: 20px 0;
}

.redes-sociales a {
	display: inline-block;
	font-style:10px;
	width: 45px;
	height: 45px;
	padding: 8px 0;
	border-radius: 50%;
	font-size: 20px;
	color: rgb(255, 255, 255);
	margin: 1px 10px;
	box-shadow: 1px 1px 5px #020000c4;
	border: solid 1px #ffffff96;
}

.redes-sociales a:hover {
	background: #000203;
}

.redes-sociales .whatsapp { background: radial-gradient(circle at 30% 107%, #2ed60d 0%, #067711 5%, #25d366 45%,#55da67 60%,#1a892c 90%); }
.redes-sociales .facebook { background: radial-gradient(circle at 30% 107%, #d1d3f6 0%, #95dae8 5%, #3b5998 45%,#3e21c1 60%,#1561e4 90%); }
.redes-sociales .phone { background: radial-gradient(circle at 30% 107%, #d1d3f6 0%, #95dae8 5%, #1152dd 45%,#0b75f7 60%,#0550d0 90%); }
.redes-sociales .instagram { background: radial-gradient(circle at 30% 107%, #c4302b 5%, #fd5949 45%,#c25f4c 60%,#c56666d4 90%); }


footer {

	text-align: center;
	padding: 5px 0;
	z-index: 1000;
	position: relative;
	color: rgba(0, 0, 0, 0.726);
	font-size: 14px;
}
footer div img {
	width: 4%;
}

footer .rango {
	font-size: 10px;
}

@media screen  and  (min-width: 800px){
	body { 
		background:linear-gradient(rgba(0, 0, 0, 0.155), rgb(255, 255, 255)), url('../img/fondomundo.png') no-repeat fixed
		

	}
}


@media screen  and  (min-width: 800px){
	.tarjeta { 
		background-color: #ffffffc5;
	}
}


@media screen  and  (min-width: 1100px){
	.network { 
		top: 52px;
	  }
  }

@media screen  and  (min-width: 1400px){
	.sidebar { 
	  left: 27%;
	  }
  }

@media screen  and  (min-width: 600px){
	.slider img{ 
		height: 300px;
		padding: 10px 20%;
	  }
  }

  @media screen  and  (min-width: 1400px){
	.back { 
	  right: 27%;
	  display: block;
	  }
  }


@media screen  and  (max-width: 290px){
	.redes-sociales a { 
		font-size: 40px;	
		color: #000;
	}
	.redes-sociales .whatsapp { background: none }
	.redes-sociales .facebook { background: none }
	.redes-sociales .phone { background: none }
	.redes-sociales .instagram { background: none }
}

/* iconos banner */
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v81/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }


  .material-icons-descarga {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;
  }
  .material-icons-descarga:hover {
	background-color: rgb(27, 118, 255);
}

  .material-icons {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	padding: 5px 4px;
	border-radius: 10px;
  }

  .material-icons:hover{
	font-size: 27px;
  }

  .material-back {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 22px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.562);
	padding: 5px 4px;
	border-radius: 10px;

  }
  
  /* ----- ----- costos ----- ----- */
.costos {
	text-align: center;
	padding: 0px 10px;
	display: none;
	
}

.costos img {
	width: 30%;
	vertical-align: top;
	padding: 10px 2%;
	
}

.costos p {
	font-size: 16px;
	padding: 2px 2px;
}

.costos a {
	font-size: 12px;
}

.costos .oro {
	border-radius: 10px;
	overflow: hidden;
	padding: 10px 5px;
	background-image: url(../img/bg2.png);
	

	}
	
.costos .platino {
		border-radius: 10px;
		overflow: hidden;
		padding: 10px 5px;
		background-image: url(../img/bg2.png);
		
	
		}
.costos .diamante {
			border-radius: 10px;
			overflow: hidden;
			padding: 10px 5px;
		    background-image: url(../img/bg2.png);
		
			}

			/* ----- ----- inicio informacion ----- ----- */
.comofunciona {
	text-align: center;
	padding: 0px 10px;
	display: none;
}

.comofunciona img {
	width: 35%;
	vertical-align: top;
}

.comofunciona p {
	font-size: 16px;
	padding: 2px 2px;
}

.planes {
 text-align: center;
 padding: 10px 5px;
 display: none;
}

.planes p {
	font-size: 16px;
	padding: 2px 2px;
}

.planes a {
	font-size: 16px;
	
}

/* screen share */

.sharelink {
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 0px 10px;
	display: none;
}

.sharew{
	text-decoration: none;
	color: #ffffff;
	background: #128C7E;
	padding: 5px 30px;
	border-radius: 10px;
	margin: auto;
	margin: 15px 20%;
	display: block;	
}

.sharew:hover {
	background: #0f9246;
}

.sharem{
	text-decoration: none;
	color: #ffffff;
	background: #0687ff;
	padding: 5px 30px;
	border-radius: 10px;
	margin: auto;
	margin: 15px 20%;
	display: block;	
}

.textareacopy{
	width: 1px;
	max-height: 1px;
	background: #00020300;
	text-align: center;
	justify-content: center;
	align-items: center;
	opacity: 0;
	
}

.copy-text {

	backdrop-filter: blur(2px);
	border: 1px solid #ddd;
	border-radius: 10px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;



	
}

.copy-text input.text {
	padding: 4px 30px;
	font-size: 12px;
	color: rgb(0, 170, 255);
	border: none;
	outline: none;
;

}

.copy-text button {
	padding: 10px;
	background: #0099ff;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}

.copy-text button:active{
	background: #809ce2;
}


/* screen 4 Formulario */

.screen4 {
	text-align: center;
	display: none;
}

  .formulario {
	max-width: 100%;
	padding: 20px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
	position: relative;
	background: rgba(255, 255, 255, 0.97);
	border-radius: 10px;
  }
  
  .imgLogo {
	width: 10%;

  }
  
.logoslin {
	width: 25px;
}


  .formulario__titulo,
  .formulario__subtitulo,
  .formulario__parrafo {
	text-align: center;
	margin-top: 0;
  }
  .formulario__titulo,
  .formulario__subtitulo {
	color: rgba(0, 0, 0, 0.7);
  }
  .formulario__parrafo {
	color: rgba(0, 0, 0, 0.5);
  }
  .formulario__input,
  .formulario__label {
	display: block;
	width: 100%;
	font-size: 1, 3em;
  }
  .formulario__input {
	padding: 10px;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
	border-radius: 10px;
  }
  .formulario__input:focus {

	outline: none;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  }

  .formulario__label {
	padding-left: 15px;
	color: rgba(0, 0, 0, 0.7);
	margin: 2px;
  }
  .formulario__submit {
	background: rgba(7, 121, 156, 0.7);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	display: block;
	width: 50%;
	font-size: 1, 3em;
  }
  
  .formulario__submit:hover{
	  background-color: #3bbff0;
  }

  
  .formulario__input,
  .formulario__submit {
	margin-left: auto;
	margin-right: auto;
  }
  

  /* respuesta del formulario */
  #respuesta {
	width: 100%;
	height: 25px;
	margin: 5px;
	padding: 5px;
  }
  #respuesta.fail {
	color: red;
  }
  #respuesta.send {
	color: green;
  }


    /* navegacion*/
	.navi {
		position: fixed;
		z-index: 1000;
		width: 100%;
		height: 5%;
		text-align: center;
		text-decoration: none;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.704);
		backdrop-filter: blur(2px);
		border: solid 1px rgb(255, 255, 255, 05);
		box-shadow: 1px 1px 5px #ffffffee;
		border-radius: 15px;
		overflow: hidden;
		bottom: 1px;
		animation: pulse2 1.7s ;
		text-align: center;
		justify-content: center;
		justify-items: center;
	
	}
	
	@media screen  and  (min-width: 1400px){
		.navi { 
			background-color: rgba(247, 246, 246, 0.826);
		  }
	  }


	.navi ul{
		display: flex;	
		text-align: center;
		justify-content: center;
		justify-items: center;
	
	}
	
	
	.navi ul li{
		position: relative;
		list-style: none;
		z-index: 1;
	}
	

	.navi ul li {
		list-style: none;
		
	}
	
	.navi ul li a{
		padding: 0px 20px;
		font-size: 23px;
		text-decoration: none;
		color: #000000;
	}

	.navi ul li .icon3active{
		color: #0d8bec;
		font-size: 27px;
		background: #ffffff36;
		box-shadow: 1px 2px 5px #ffffffee;
		border-radius: 10px;
		transition: 300ms all ease;
	}

	.navi ul li .icon3off{
		padding: 0px 20px;
		font-size: 23px;
		text-decoration: none;
		color: #000000;
		transition: 300ms all ease;
	}
	
	.navi ul li a:hover{
		color: #0d8bec;
		font-size: 27px;
		background: #ffffff36;
		box-shadow: 1px 2px 5px #ffffffee;
		border-radius: 10px;
		transition: 300ms all ease;

	}


	
